// $main-color: #521751;  // Variables
$size-default: 1rem;
$size-tiny: 0.2rem;

//map
$colors: (
  main: #521751,
  secondary: #fa923f,
);

$border-default: $size-tiny / 4 solid map-get($colors, main); // list
