/* ----------------- Basically --------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


/* ----------------- Reusable --------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}


/* --- Headings --- */

h1,
h2,
h3 {
    font-weight: 350;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    text-align: center;
    word-spacing: 1px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
}


/* --- Pragraph --- */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}


/* --- Icons --- */

.big-icon {
    font-size: 350%;
    color: #e67e22;
    margin-bottom: 10px;
    display: block;
}


/* --- Btns --- */

.btn:link,
.btn:visited {
    padding: 10px 30px;
    display: inline-block;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.3s, border 0.2s, color 0.2s;
}

.btn-cta:link,
.btn-cta:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #b05d14;
}

.btn-cta:hover,
.btn-cta:active {
    border: 1px solid #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #b05d14;
    color: #fff;
}


/* ----------------- Header --------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 60px;
}

.main-nav li {
    margin-left: 40px;
    display: inline-block;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}