$base-blue: #4f4fff;

$colors: (
    main-background: #eef3fd,
    list-background: #8f71fc33,
    main-paragraph: #929292,
);

@mixin display-flex() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    width: 100%;
    background-color: map-get($colors, main-background);
}

.open {
    display: none;
}
.pressBtnClose {
    grid-template-columns: 1fr 15fr;
}

main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    grid-template-areas: "sidebar main";
    width: 100vw;
    height: 100vh;

    @media (max-width: 70rem) {
        grid-template-columns: 11.5rem 1fr;
    }

    &.sidebar-toggled {
        @media (max-width: 40rem) {
            grid-template-columns: 1fr 15fr;
        }
    }
}

//-------------------------------Sidebar-----------------------------------

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    position: relative;

    &.toggled {
        .main-side__list a span,
        .main-nav-logo__link {
            @media (max-width: 40rem) {
                display: none;
            }
        }

        .main-nav-logo {
            @media (max-width: 40rem) {
                padding: 0;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

    #sidebar-toggle {
        font-size: 1.5rem;
        position: absolute;
        right: 0;
        transform: translateX(50%);
        top: 2rem;
        background-color: white;
        border-radius: 50%;
        padding: 0.3rem;
        @include display-flex();
        color: #6b6b6b;
        cursor: pointer;

        @media (max-width: 40rem) {
            display: none;
        }
    }

    .main-nav-logo {
        font-weight: bold;
        padding-left: 2rem;
        margin: 3rem 0;
        cursor: pointer;

        &:hover,
        &:active {
            color: darkblue;

            .main-nav-logo__img {
                animation: logoAnime 800ms 0.2s 2 linear;
            }
        }

        a {
            text-decoration: none;
            color: black;
        }

        .main-nav-logo__link {
            width: 200px;
            vertical-align: middle;
        }

        .main-nav-logo__img {
            width: 3rem;
            vertical-align: middle;
        }
    }

    .main-side {
        @include display-flex();
        flex-direction: column;
        list-style: none;

        li {
            padding-left: 1rem;
            cursor: pointer;
        }

        a {
            display: inline-block;
            text-decoration: none;
            color: #575757;
            vertical-align: middle;
            padding: 1rem 0.7rem;
        }

        .main-side__img {
            font-size: 1.6rem;
            vertical-align: middle;
            margin-right: 0.8rem;
        }

        .main-side__list {
            &:hover,
            &:active {
                border-left: 4px solid $base-blue;
                background-color: map-get($colors, list-background);

                a {
                    color: $base-blue;
                }

                .main-side__img {
                    color: $base-blue;
                }
            }
        }
    }
}

//---------------------------------Main-----------------------------------

.main {
    grid-area: main;
    margin: 3rem 0;
    padding: 0 10rem;
    overflow-y: auto;

    @media (max-width: 70rem) {
        padding: 0 3rem;
    }

    @media (max-width: 40rem) {
        padding: 0 1rem;
    }

    P {
        color: map-get($colors, main-paragraph);
    }

    .main-data {
        background-color: white;
        padding: 0 2rem;
        margin: 1.5rem 0;

        @media (max-width: 40rem) {
            padding: 0 0.7rem;
            margin: 1rem 0;
        }

        &:first-child {
            border-top: 3px solid $base-blue;
        }
    }

    .connect-section {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-row: auto auto;
        padding: 2rem 0;
        border-top: 2px solid #eeeeee;
        align-items: center;

        @media (max-width: 40rem) {
            grid-template-columns: auto 1fr;
            justify-items: center;
        }

        &:first-child {
            border-top: none;
        }

        img {
            grid-column: 1/2;
            grid-row: 1/4;
            width: 2rem;
            margin: auto;
        }

        h3 {
            grid-column: 2/3;
            grid-row: 1/2;
            padding: 0 2rem;

            @media (max-width: 40rem) {
                grid-column: 1/3;
                grid-row: 1/2;
                padding: 0 1rem;
                padding-bottom: 0.5rem;
            }
        }

        p {
            grid-column: 2/3;
            grid-row: 2/3;
            padding: 0 2rem;

            @media (max-width: 40rem) {
                padding: 0 1rem;
                text-align: center;
            }
        }

        a {
            grid-column: -2/-1;
            grid-row: 1/3;

            @media (max-width: 40rem) {
                grid-column: 1/-1;
                grid-row: 3/4;
                margin-top: 1rem;
            }
        }
    }

    .general-section__store {
        padding: 2rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;

        @media (max-width: 40rem) {
            @include display-flex();
            flex-direction: column;
            align-items: center;
        }

        .lbl-store {
            grid-row: 1/2;
            grid-column: 1/2;

            @media (max-width: 40rem) {
                align-self: flex-start;
            }
        }

        .lbl-zone {
            grid-row: 1/2;
            grid-column: 2/3;

            @media (max-width: 40rem) {
                margin-top: 1rem;
                align-self: flex-start;
            }
        }
    }

    .input-section {
        width: 17rem;
        height: 2rem;
        margin-top: 0.5rem;
        background-color: #fbfdff;
        border: 2px solid #e9e9e9;
        border-radius: 5px;
        padding-left: 10px;

        @media (max-width: 70rem) {
            width: 90%;
        }

        @media (max-width: 40rem) {
            width: 100%;
        }

        &:focus {
            outline: none;
            border: 2px solid #c0c0c0;
        }
    }
}

.main-btn {
    text-decoration: none;
    width: 8.5rem;
    height: 2rem;
    background-color: $base-blue;
    color: white;
    border: 3px solid $base-blue;
    padding: 0.3rem 0;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 0.8rem;

    &:hover,
    &:active {
        color: $base-blue;
        background-color: white;
    }
}

.main-btn__disc {
    text-decoration: none;
    width: 8.5rem;
    height: 2rem;
    background-color: white;
    color: $base-blue;
    border: 3px solid $base-blue;
    padding: 0.3rem 0;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 0.8rem;

    &:hover,
    &:active {
        color: white;
        background-color: $base-blue;
    }
}

@keyframes logoAnime {
    0% {
        transform: rotatez(0);
    }

    25% {
        transform: rotatez(25deg);
    }

    50% {
        transform: rotatez(0);
    }

    75% {
        transform: rotatez(-25deg);
    }

    100% {
        transform: rotatez(0);
    }
}
