doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="style.css")
        title Tech Tarfand

        style.

            p{
                text-align : center;
                margin-top : 11rem;
            }

    body
        P(style="text-decoration:underline; text-transform:uppercase;") This is a test...

        - const pStyles = {"text-transform":"uppercase" , "color":"red" }
        p(style=pStyles) This is test 2 ...